* {
 
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .services,
  .products,
  .sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .services {
 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  /*
  .sign-up {
    background-image: url('../public/images/img-8.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  */
  /* Destination page*/
  .relative{
    /* background-image: url("../../public/Booking.jpg"); */
   background-position: center;
   background-size: cover;
 
   
   
  }
  
  .destination-container {
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    flex-wrap: wrap;
  }
  
  .destination-container h2 {
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
  }
  
  .destination-container p {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 300;
    max-width: 800px;
  }
  
  .info-wrapper {
    max-width: 800px;
  }
  
  h3 {
    margin: 3rem 0 1.3rem 0;
    font-size: 2.4rem;
  }
  
  h4 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  
  .destination-container ul li {
    margin-bottom: 1rem;
    margin-left: 3rem;
  }
  
  .booking-container {
    width: 350px;
    height: fit-content;
    padding: 1.4rem;
    border: 2px solid #242424;
    border-radius: 5px;
  }
  
  .booking-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .booking-info h5 {
    font-size: 1.2rem;
  }
  
  .booking-info .price {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
  }
  
  .btn-book {
    padding: 12px 26px;
    border-radius: 2px;
    outline: none;
    border: 1px solid #242424;
    color: #fff;
    background-color: #242424;
  }
  
  .btn-book:hover {
    background-color: #fff;
    color: #242424;
  }
  
  /*Sign up Page*/
  .form-modal__container {
    margin: 0 0.5rem;
  }
  .form-modal__wrapper {
    display: flex;
    justify-content: center;
    max-width: 900px;
    height: 500px;
    margin: 4rem auto;
  }
  
  .sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 350px;
    height: inherit;
    border-radius: 10px 0 0 10px;
  }
  
  .sign-up > img {
    object-fit: cover;
    width: auto;
    height: auto;
  }
  
  .sign-up__container {
    background: #fff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    border-radius: 0 10px 10px 0;
    justify-content: center;
  }
  
  .sign-up__container > h2 {
   font-size: 3rem;
   margin-bottom: 2rem;
  }
  
  .sign-up__form {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  
  .sign-up__form > label {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }
  
  
  .sign-up__form > input {
    margin-bottom: 1rem;
    padding: 0.6rem;
  }
  
  .sign-up__form .btn-sign {
    padding: 12px 26px;
    width: fit-content;
    margin: 1.5rem auto 0;
    border-radius: 2px;
    font-size: 20px;
    border: 1px solid #242424;
    background-color: #242424;
    color: #fff;
    cursor: pointer;
  }
  
  .sign-up__form .btn-sign:hover {
    color: #242424;
    background-color: #fff;
  }
  
  .have-account {
    font-size: 0.9rem;
    color: #5a5a5a;
  }
  
  .have-account span {
    text-decoration: underline;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 798px) {
    .destination-container h2 {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
  }
  video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
  object-fit: contain;

}

.hero-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-btn {
  padding: 12px 26px;
  border-radius: 2px;
  outline: none;
  border: 1px solid #242424;
  cursor: pointer;
  background-color: #242424;
  color: #fff;
  font-size: 20px;
}

.hero-btn:hover {
  background-color: #fff;
  color: #242424;
  border: 1px solid #242424;
}

.search {
 
  display: flex;
  padding: 0.8rem 0.4rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1.5rem;
}

.search-container > label {
  font-size: 1.3rem;
  color: #242424;
  padding-bottom: 0.6rem;
}

.search-container > input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: #242424;
  padding: 0.2rem;
  border-radius: 0.2rem;
  font-size: 1rem;
}

.search-container > input[type="date"] {
  padding-left: 1rem;
  border: none;
  color: #242424;
}

.search-container > input::placeholder {
  color: black;
}


.search-container > input:focus {
  outline: 1px solid #242424;
}

.row-container {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }

  .search-container {
    padding: 0 0.8rem;
  }

  .search-container > label {
    font-size: 1rem;
    color: #242424;
    padding-bottom: 0.4rem;
  }

  .search-container > input {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    max-width: 100%;
  }

  .search {
    flex-direction: column;
    align-items: center;
    width: 80%;
    
   /* flex-direction: column;
    padding: 0.8rem;
    gap: 0.8rem;
    width: 80%;
    */
  }

  .search-container {
    padding: 0 0.8rem;
  }

  .search-container > label {
    font-size: 1.2rem;
    color: #242424;
    padding-bottom: 0.4rem;
  }

  .search-container > input {
    text-align: center;
  }
}

